tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}


#discard{
    float: right;
    width: 200px;
}

#discard img{
width: 100px;
height: 150px;
}

#deck input{
width: 100px;
height: 150px;
}