<link href="assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<script type="text/javascript" src="/assets/webjars/jquery-ui/1.11.4/jquery-ui.js"></script>
<span id="chosenDeck"></span>
<h2 style="text-align: center">Choose Your Deck</h2>


<div id="deckChoice">
	<form action="">
        <div id="deckEngish">

            <input type="button" >            

        <h2>English</h2>
        </div>
        <div id="deckSpanish">
            <input type="button" >
            
           
            <h2>Spanish</h2>
        </div>
    </form>
</div>


<script>
	$(document).ready(function(){
		var chosenDeck = null;
		$(":button").click(function(){
			$("#chosenDeck").html($(this).closest("div").attr("id"))

			setTimeout(function() {
                    $('.pageOverlay').fadeOut();
                }, 1000);
	});

	});

</script>

</body>

</html>
